@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");
html {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

body {
  padding-top: 32px; /*отступ основного блока от шапки*/
}

.container {
  margin: 0 auto;
  max-width: 1219px; /* макс ширина блока жёстко задана и не превышает 1219px*/
  width: 100%;
}

nav {
  position: fixed;
  top: 0px;
  background-color: #007765;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1219px;
  width: 100%;
}

nav .logo {
  float: left;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 55px;
}

nav ul {
  float: right;
  margin: auto;
  padding-right: 54px;
  padding-left: 0px;
  padding-top: 29px;
  padding-bottom: 26px;
}

nav li {
  display: inline-block; /*горизонтальное меню*/
}

nav ul a,
span {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  transition: 0.4s linear; /*анимация появления меню*/
  padding: 0px 2px;
}

.h1-background {
  background: url(images/background/top.svg);
  background-size: cover;
  background-position: center;
  max-width: 1219px;
}

h1 {
  text-align: center; /*выравнивание текста по горизонтали*/
  color: #ffffff;
  font-size: 72px;
  font-weight: 500;
  text-shadow: 1px 1px 1px #000; /*контур для текста*/
  padding: 160px 0px;
  margin-bottom: auto;
}

h2 {
  font-size: 64px;
  color: #007765;
  font-weight: 500;
  text-align: center;
}

.theproblem {
  background-color: #eeeeee;
  margin: 0px;
}

.theproblem h2 {
  margin: 0px;
  padding-top: 48px;
}

.theproblem_text {
  padding: 0px 55px;
  padding-top: 16px;
  padding-bottom: 92px;
}

.theproblem p {
  font-weight: 400;
  font-size: 33px;
  padding-top: 0px;
  margin: 0px;
}

.hero {
  background: url(images/background/hero.svg);
  background-size: cover;
  background-position: center;
  max-width: 1219px;
}
/*FIXME: Расширить отступы на малом екране*/
.hero blockquote {
  margin: auto; /*сброс внешних границ*/
  text-align: center;
  padding: 0px 153px; /*выравнивание текста по центру по вертикали и горизонтали*/
  padding-top: 128px;
  padding-bottom: 130px;
}

.hero blockquote {
  font-style: italic;
  font-size: 48px;
  font-weight: 500;
  color: #ffffff;
}

.introducing {
  background-color: #ffffff;
  margin: 0px;
}

.introducing h2 {
  margin: 0px;
  padding-top: 48px;
}
/*FIXME: отступы от края блока на маленьком екране*/
.introducing blockquote {
  padding-top: 16px;
  padding-bottom: 40px;
  margin: 0px;
}

.introducing img {
  float: left; /*лого по левому краю*/
  margin: auto; /*сброс внешних*/
  /*размеры*/
  width: 115px;
  height: 115px;
  /*отступы от границ блока и обьектов*/
  padding-top: 16px;
  padding-left: 55px;
  padding-right: 48px;
}

.introducing blockquote,
.introducing-text {
  font-size: 32px;
  font-weight: 400;
}

.introducing-text {
  padding: 0px 55px; /*боковые отступы от границ блока*/
  padding-bottom: 92px; /*нижний отступ, растягивает внутреннюю границу блока*/
  margin: auto;
}

.introducing p {
  margin: auto; /*сброс границ*/
}

.team {
  background-color: #eeeeee;
  margin: 0px;
}

.team h2 {
  margin: 0px;
  padding-top: 48px;
}

.team table {
  margin: auto;
  /*32px - расстояние между `The Team` заголовком и верхним блоком участника
  но учитываем также расстояние в 15px между блоком участника и внешней границей таблицы*/
  margin-top: 17px;
  padding-bottom: 79px; /*94px(по макету)-15px: расстояние между нижней границей блока участника и краем блока*/
  /* border: 1px #e6221b solid; */
}

/*FIXME: ADAPT TEAM TABLE FOR SMALL SCREEN*/
@media screen and (max-width: 1219px) {
  .team table {
    display: block;
    overflow: auto;
  }
}

.team figure {
  text-align: center;
  /*внешний отступ между блоками участников по макету 30px (15px+15px)*/
  /*а также влияет на внешние отступы блоков участников до границы самой таблицы*/
  margin: 15px 15px;
  /* border: 1px #1fa6be solid; */
}

.team img {
  width: 168px; /*фиксированный размер фото*/
  margin: 0px 91px; /*боковое расстояние между фото и границей блока `figure`*/
  margin-top: 24px; /*расстояние между верхушкой фото и границей блока `figure`*/
  /* border: 1px #000000 solid; */
}

/*имя участника команды*/
.team figcaption p:first-child {
  color: #007765;
  font-size: 24px;
  font-weight: bold;
  margin: 0px 0px;
  padding-top: 12px;
}

/*специальность участника команды*/
.team figcaption p:last-child {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 28px;
  margin: 0px;
}

footer {
  background-color: #333333;
  margin: 0px;
}

footer .text-block {
  text-align: center;
  padding: 0px 340px;
  padding-top: 48px;
  padding-bottom: 64px;
}

footer p {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin: auto;
}

/*корректировка навигации*/
.anchor {
  padding-top: 80px;
  margin-top: -80px;
  background-clip: content-box;
}
